/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 14px;
  text-align:justify;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  transition: max-height 0.2s ease-out;
 }
 
 /* ACCORDION STYLE */
 /* style the accordion */
.accordion {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, Trebuchet MS, helvetica;
  text-decoration: none;

  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  padding: 2px 3px;
  cursor: pointer;
  
  /* button look when inactive */
  /* border-bottom:  4px solid;
  border-top: 2px solid;
  border-left:  3px solid;
  border-right:  2px solid;
  border-radius: 0;
  border-color: black;
  box-shadow: 1px 1px #888888;*/
  
  border-bottom:  3px solid;
  border-top: 1px solid;
  border-left:  2px solid;
  border-right:  1px solid;
  border-radius: 0;
  border-color: black;
  box-shadow: 1.25px 1.25px #888888;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {

  
  /* update text color and background color */
  background-color: black;
  color:white;
  
   /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
  
}

.accordion:active {

  
  /* update text color and background color */
  background-color: black;
  color:white;
  
   /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
  
  
  /* button-like feel */
  border-bottom: 1px solid;
  border-left:  1px solid;
  border-right:  1px solid;
  border-color: black;
  text-align: center;
  padding: 4px;
  margin-top: 3px;
  
}
